Package: com.vicitiniman.neofreebird
Name: NeoFreeBird
Version: 6.1.0-beta.49
Architecture: iphoneos-arm
Description: A modular X client enhancement tweak with X 12.9 compatibility.
Maintainer: Vicitiniman
Author: BHTwitter and NeoFreeBird contributors
Section: Tweaks
Depends: mobilesubstrate
Conflicts: com.den.twigalaxy, xyz.cypwn.twigalaxy, xyz.cypwn.bhtwitter, com.netskao.twitternoads, xyz.cypwn.bringbacktwitter
